<h3 style="text-align:center;"> Student Detail </h3>
<table>
	<tr><td> NAME </td>
		<td><%= @y.name %></td>
	</tr>
	<tr><td> USN </td>
		<td><%= @y.usn %></td>
	</tr>
	<tr><td> SEMESTER </td>
		<td><%= @y.semester %></td>
	</tr>
	<tr><td> EMAIL_ID </td>
		<td><%= @y.email_id %></td>
	</tr>
	<tr><td> PHONE_NUMBER </td>
		<td><%= @y.phone_number %></td>
	</tr>
	<tr><td> ADDRESS </td>
		<td><%= @y.address %></td>
	</tr>
	
</table>
<%= link_to 'view all',student_tables_url %>